global
    log 127.0.0.1 local0 notice
    maxconn 2000
    user haproxy
    group haproxy

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    retries 3
    option redispatch
    timeout connect  5000
    timeout client  10000
    timeout server  10000

frontend http_front
   bind *:80
   stats uri /haproxy?stats
   default_backend http_back


backend http_back
    balance {{haproxy_algorithm}}
    {% for server in haproxy_backend_servers %}
    server {{server.name}}  {{server.ip}}:{{server.port}}
    {% endfor %}
